body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 20px;

	font-family: 'Courier New', Courier, monospace;

	background-color: rgb(95, 95, 95);
}

main {
	max-width: 1500px;
	min-width: 300px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}