/* Applied to all cards */

:host {
    --card-h1-bg-color: #1880ffbd;
}

img {
    display: block;
    justify-self: center;
    width: 100%;
    height: auto;
}

h1 {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--card-h1-bg-color);

    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    padding-top: 20px;
}

strong {
    text-decoration: underline;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: normal;
}

ul {
    text-align: left;
    list-style-position: inside;
    margin: 0;
    padding-left: 20px;
}

li {
    margin: 0;
    padding: 2px 0;
}

* {
    user-select: none;
    box-sizing: border-box;
    color: #ffffff;
}

.card {
    box-sizing: border-box;
    padding: 20px;

    width: 350px;
    height: 450px;
    text-align: center;
    cursor: pointer;
}